@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can also add your custom CSS here if you want */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
/* This tells the whole body of the website to use your local fonts */
body {
    font-family: 'Rubik', 'Inter', sans-serif;
}
@font-face {
  font-family: 'Rubik';
  src: url('Rubik-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('Inter-VariableFont_opsz,wght.ttf') format('truetype');
}